{{ ansible_managed | comment }}

[Unit]
Description=sockpuppet
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/etc/default/sockpuppet
User={{ sockpuppet_system_user }}
Group={{ sockpuppet_system_group }}
ExecStart={{ sockpuppet_virtualenv_path }}/bin/sockpuppet --listen-address {{ sockpuppet_listen_address }} --port {{ sockpuppet_listen_port }}
SyslogIdentifier=sockpuppet
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
